@import "../props/color";
@import "../props/box";

@mixin box__border_rounded($radius: map-get($box, border_radius)) {
  border-radius: $radius;
}

@mixin box__border(
  $color: map-get($color, border),
  $color_state: map-get($color, border--state),
  $radius: 0) {

  border: 1px solid $color;

  &:hover {
    border-color: $color_state;
  }

  @if($radius != 0){
    @include box__border_rounded($radius);
  }
}
