@import "../props/color";
@import "../props/box";

@mixin helper-divide_children() {

  > *:after {
    content: "|";
    margin: 0 $box-spacing;
  }

  > *:last-child:after {
    content: none;
  }

}

@mixin helper-colorize_button($bkgcolor : $color-brand--primary, $textcolor : $color-white) {
  background-color: $bkgcolor;
  color: $textcolor;

  &:hover {
    background-color: lighten($bkgcolor, 10%);
  }

}

@mixin helper-container_fluid() {
  margin-right: auto;
  margin-left: auto;
  padding-left: $box-spacing--wide;
  padding-right: $box-spacing--wide;
}
