@import "../props/rwd";
@import "../modifiers/rwd";

@mixin rwd__scope--phone() {
  $condition: rwd__query($max: map-get($rwd, breakpoint--phone));

  @media #{$condition} {
    @content;
  }

}

@mixin rwd__scope--phablet() {
  $condition: rwd__query(map-get($rwd, breakpoint--phablet));

  @media #{$condition} {
    @content;
  }

}

@mixin rwd__scope--tablet() {
  $condition: rwd__query(map-get($rwd, breakpoint--tablet));

  @media #{$condition} {
    @content;
  }

}

@mixin rwd__scope--desktop() {
  $condition: rwd__query(map-get($rwd, breakpoint--desktop));

  @media#{$condition} {
    @content;
  }

}
