@import "config";
@import "props/box";
@import "props/color";
@import "props/image";
@import "props/icon";
@import "props/motion";
@import "props/rwd";
@import "props/type";

$prop__map: (
  config: $config,
  color:  $color,
  box:    $box,
  image:  $image,
  icon:   $icon,
  motion: $motion,
  rwd:    $rwd,
  type:   $type
);
