$_black: rgba(0, 0, 0, 1);

$color: (

  text--dark:   #555555,
  text--medium: #999999,
  text--light:  #bbbbbb,

  border:        #cccccc,
  border--state: #808080,

  bkg--light_blue:      #f5f8fb,
  bkg--silver:          #e6e9ec,
  bkg--dark_blue_alpha: rgba(55, 119, 188, 0.05),
  bkg--light_gray:      #f5f5f5,
  bkg--gray:            #f0f0f0,
  bkg--dark_gray:       #ebebeb,
  bkg--white:           #ffffff,

  overlay:              #262626,
  overlay--alpha_dark:  rgba(38, 38, 38, 0.6),
  overlay--alpha_light: rgba(38, 38, 38, 0.8),

  clear:                rgba(255, 255, 255, 0),

  shadow:        $_black,
  shadow--light: rgba(0, 0, 0, 0.1),
  shadow--dark:  rgba(0, 0, 0, 0.2),

  divider: $_black,

  brand: (
    primary:    #3777bc,
    secondary:  #7dc243,
    tertiary:   #f58d17,
    quaternary: #a3a2a0
  ),

  action: (
    primary:          #7dc243,
    primary--state:   #649b35,
    secondary:        #3777bc,
    secondary--state: #2c5f96,
    tertiary:         #e1a147,
    tertiary--state:  #d39743
  )
);
