$_fontfaces: (
  icon:      "carfax-icons",
  primary:   "roboto",
  secondary: "robotocondensed"
);

$type: (

  size: (
    head--largest:  2.750rem,
    head--larger:   1.875rem,
    head--large:    1.500rem,
    head:           1.125rem,
    body--base:     16px,
    body:           1rem,
    body--small:    0.875rem,
    body--smaller:  0.750rem,
    body--smallest: 0.688rem
  ),

  weight--light:  300,
  weight--normal: 500,
  weight--bold:  700,

  em__style: italic,

  leading: (
    body--smaller: 1,
    body--small:   1,
    body--base:    1,
    body--large:   1,
    body--larger:  1,
    head--base:    1,
    head--large:   1,
    head--larger:  1,
    head--largest: 1
  ),

  kerning: normal,

  font: (
    icon:               map-get($_fontfaces, icon),
    primary: (
      regular:   "#{map-get($_fontfaces, primary)}-regular",
      medium:    "#{map-get($_fontfaces, primary)}-medium",
      bold:      "#{map-get($_fontfaces, primary)}-bold"
    ),
    secondary: (
      regular: "#{map-get($_fontfaces, secondary)}-regular"
    )
  )

);
